.detail-book {
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: #1f2937;
  border-width: 1px;
  border-color: #374151;

  @layer components {
    @apply shadow;
  }

  &__header {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #ffffff;
  }

  &__info {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #9ca3af;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 1rem;
  }
}
